@model BeerMatchBoxService.Models.UserTaste

@{
    ViewData["Title"] = "Edit";
}

<style>
    .background-image {
        position: absolute;
        left: 0;
        top: 115px;
        height: 230%;
        width: 100%;
        background-image: url(/images/TastesInfoGraphicV2.png);
        background-repeat: no-repeat;
        background-position: center;
    }
</style>

<h2>Taste profile</h2>
<br />
<p>Key: 1 = Strongly disagree, 5 = don't know/no preference, 10 = strongly agree.</p>


<div class="background-image">

</div>
<br />
<br />
<br />
<br />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="LikesBitter" class="control-label"></label>
                <select asp-for="LikesBitter">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <span asp-validation-for="LikesBitter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LikesFruity" class="control-label"></label>
                <select asp-for="LikesFruity">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <span asp-validation-for="LikesFruity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LikesSour" class="control-label"></label>
                <select asp-for="LikesSour">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <span asp-validation-for="LikesSour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LikesHoppy" class="control-label"></label>
                <select asp-for="LikesHoppy">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <span asp-validation-for="LikesHoppy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LikesMalty" class="control-label"></label>
                <select asp-for="LikesMalty">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <span asp-validation-for="LikesMalty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LikesChocolate" class="control-label"></label>
                <select asp-for="LikesChocolate">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <span asp-validation-for="LikesChocolate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LikesCoffee" class="control-label"></label>
                <select asp-for="LikesCoffee">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <span asp-validation-for="LikesCoffee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LikesSweet" class="control-label"></label>
                <select asp-for="LikesSweet">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <span asp-validation-for="LikesSweet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LikesStrong" class="control-label"></label>
                <select asp-for="LikesStrong">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <span asp-validation-for="LikesStrong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LikesSession" class="control-label"></label>
                <select asp-for="LikesSession">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <span asp-validation-for="LikesSession" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LikesPale" class="control-label"></label>
                <select asp-for="LikesPale">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <span asp-validation-for="LikesPale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LikesMiddling" class="control-label"></label>
                <select asp-for="LikesMiddling">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <span asp-validation-for="LikesMiddling" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LikesDark" class="control-label"></label>
                <select asp-for="LikesDark">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <span asp-validation-for="LikesDark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LikesBarrelAged" class="control-label"></label>
                <select asp-for="LikesBarrelAged">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <span asp-validation-for="LikesBarrelAged" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LikesLager" class="control-label"></label>
                <select asp-for="LikesLager">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <span asp-validation-for="LikesLager" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LikesAle" class="control-label"></label>
                <select asp-for="LikesAle">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <span asp-validation-for="LikesAle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LikesPaleAle" class="control-label"></label>
                <select asp-for="LikesPaleAle">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <span asp-validation-for="LikesPaleAle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LikesIPA" class="control-label"></label>
                <select asp-for="LikesIPA">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <span asp-validation-for="LikesIPA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LikesESB" class="control-label"></label>
                <select asp-for="LikesESB">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <span asp-validation-for="LikesESB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LikesStout" class="control-label"></label>
                <select asp-for="LikesStout">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <span asp-validation-for="LikesStout" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LikesPorter" class="control-label"></label>
                <select asp-for="LikesPorter">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <span asp-validation-for="LikesPorter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LikesBrownAle" class="control-label"></label>
                <select asp-for="LikesBrownAle">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <span asp-validation-for="LikesBrownAle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LikesRedAle" class="control-label"></label>
                <select asp-for="LikesRedAle">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <span asp-validation-for="LikesRedAle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LikesWheat" class="control-label"></label>
                <select asp-for="LikesWheat">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <span asp-validation-for="LikesWheat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LikesSourBeer" class="control-label"></label>
                <select asp-for="LikesSourBeer">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <span asp-validation-for="LikesSourBeer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LikesSaison" class="control-label"></label>
                <select asp-for="LikesSaison">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <span asp-validation-for="LikesSaison" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LikesBelgian" class="control-label"></label>
                <select asp-for="LikesBelgian">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <span asp-validation-for="LikesBelgian" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LikesGerman" class="control-label"></label>
                <select asp-for="LikesGerman">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <span asp-validation-for="LikesGerman" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
            <div>
                <a asp-controller="Home" asp-action="Index">Home</a>
            </div>
        </form>
    </div>
</div>